#header{
height:auto;
width:980px;
margin-left:auto;
margin-right:auto;
opacity:0.75;
}
#menu{
margin:15px;
color:#003399;
font-family:"Times New Roman", Times, serif;
}

#isi{
height:auto;
width:980px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
text-align:center;
border-left-style:dotted;
}

#direction{
height:725px;
width:240px;
float:left;
color:#0033CC;
background-color:#FFFFFF;
opacity:0.5;
}

#text{
height:344px;
width:560px;
float:right;
opacity:0.5;
background-color:#FFFFFF;
color:#003300;
}

#text h4{
font-family:Arial, Helvetica, sans-serif;
margin:30px;
text-shadow:#666666;
text-transform:capitalize;
}

#fotoku{
height:344px;
width:170px;
float:right;
}

#favorite{
height:380px;
width:730px;
margin-right:158px;
float:right;
background-color:#FFFFFF;
opacity:0.5;
}

#fav{
font-family:Arial, Helvetica, sans-serif;
margin-top:5px;
margin-left:30px;
margin-bottom:10px;
margin-right:30px;
text-shadow:#666666;
text-transform:capitalize;
background-color:#FFFFFF;
}

p{
font:"Times New Roman", Times, serif;
font-size:16px;
font-style:oblique;
}