#header{
height:auto;
width:980px;
margin-left:auto;
margin-right:auto;
opacity:0.75;
}
#menu{
margin:15px;
color:#003399;
font-family:"Times New Roman", Times, serif;
}

#isi{
height:auto;
width:980px;
margin-left:auto;
margin-right:auto;
margin-top:10px;
text-align:center;
}

#direction{
height:730px;
width:240px;
float:left;
color:#0033CC;
background-color:#FFFFFF;
opacity:0.5;
}

#text{
height:730px;
width:730px;
margin-left:10px;
float:right;
background-color:#FFFFFF;
opacity:0.5;
color:#006600;
}

#textpoto{
	opacity:1;
}